
    <a href="/">
        <div class="navbar header-blue justify-content-left">
            <img src = "/img/logo.png "class="navbar-brand" alt="home"/>
        </div>
    </a>
    <div class ="header-nav-blue ">
        <ul class="nav justify-content-center">
            {{#if session.name}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{session.user}}/add">Create Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{session.user}}/cookbook">Recipe Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{session.user}}/recipes">My Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{session.user}}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            {{/if}}
        </ul>
    </div>
