<div class="post w-75 current-black py-5 center">
        <div class="row">
            <p class="col-lg-10"><span class="user"></span>{{author}} | <i>{{date}}</i>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <p class="col-lg-15"><img class=" col-lg-50" src="img/recipe_{{id}}.jpg" alt="{{name}}">
            </div>
            <div class="col-lg-7">
                <h1 class="text-orange">{{name}}</h1>
                <p>Description here.
                    <p><a href="recipe_1.html">View full recipe.</a></p>
            </div>
        </div>
</div>