<div class="post w-50 current-black py-4 center">
    <div class="row">
        <p class="col-lg-10 text-black" >
            <span class="user"></span><a href="/user/{{user._id}}">{{user.name}}</a> | <i>{{dateFormat date}} </i>
            <span id="follow" class="icon post_icon"></span>
        </p>
        <p class="col-lg-1"><span id="cook" class="icon post_icon"></span></p>
        <p><span id="bookmark" class="icon post_icon"></span></p>
    </div>    
    <div >
        <div class="row post-pic">
            {{{postImg this}}}
        </div>
        <div >
            <h3 class="text-orange text-spaced" style="text-align:center;">{{name}}</h3> 
            <p class ="text-black" style="text-align:center;">Description here.</p>
            <p style="text-align:center;"><a href="recipes/{{_id}}">View full recipe.</a></p>
        </div>
    </div>
</div>
