<div class="post w-50 current-black py-4 center">
    <div class="row">
        <p class="col-lg-10 text-black" >
            <span class="user"></span><a href="/user/{{userId}}">{{getName userId users}}</a> | <i>{{dateFormat date}} </i>
            <span id="follow" class="icon post_icon"></span>
        </p>
        <p class="col-lg-1"><span id="cook" class="icon post_icon"></span></p>
        <p><span id="bookmark" class="icon post_icon"></span></p>
    </div>    
<<<<<<< HEAD
    <div class="post-pic row">
        {{{postImg this}}}
    </div>
<<<<<<< HEAD
    {{!-- <div class="row">
        {{#if session.user}}
            {{#unless (checkUser user._id session.user._id)}}  
                {{> heart}}
            {{/unless}}
        {{/if}}        
    </div> --}}
=======
>>>>>>> parent of aed1abe... Like and cooked
    <div class="mt-1">
        <h3 class="text-orange text-spaced" style="text-align:center;">{{name}}</h3>   
        <p class ="text-black" style="text-align:center;">{{description}}</p>
        <p style="text-align:center;"><a href="recipes/{{_id}}">View full recipe.</a></p>
=======
    <div >
        <div class="row post-pic">
            {{{postImg this}}}
        </div>
        <div >
            <h3 class="text-orange text-spaced" style="text-align:center;">{{name}}</h3> 
            <p class ="text-black" style="text-align:center;">Description here.</p>
            <p style="text-align:center;"><a href="recipes/{{_id}}">View full recipe.</a></p>
        </div>
>>>>>>> parent of 2b6a528... Merge branch 'master' of https://github.com/unisse-courses/s15-mp12
    </div>
</div>
