<div class="card">
    <img class="card-img-top" src="{{recipePicture}}" alt="{{name}}">
    <div class="card-body">
        <h4 class=" card-title recipe-card-name">{{name}}</h4> 
        <p class="card-text">By <a href="/user/{{user._id}}">{{user.name}}</a></p>
        <div class="card-btn">
            {{#if edit}}
                <button type="button" class="btn btn-danger cancel">Cancel</button>
                <button type="button" class="btn btn-danger delete">Delete Recipe</button>
                <button type="button" class="btn btn-yellow confirm">Confirm</button>
            {{else}}
                <a href="/recipes/{{idToString _id}}" class="btn btn-secondary">View Recipe</a>
                {{#if (checkUser session.user._id  user._id)}}
                    <a href="/recipes/{{idToString _id}}/edit" class="btn btn-warning">Edit Recipe</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>