<div class="container w-70  current-black py-5 center">
   
    <div class="row" style="border-bottom: 10px solid #A1A2A3;">
         <h1 class="col-lg-12 recipe-header">{{recipe.name}} Recipe</h1>
    </div>
    <div class="row recipe-flex-box mx-1">
        <div class="col-lg-8 text-black">
            <span><b>Servings:</b><i>{{recipe.servings}}</i></span>
            <p><b>Prep Time:</b>{{recipe.prepTime}} | <b>Cook Time:</b>{{recipe.cookTime}}</p>
        </div>
        
        <div class="col-lg-1 ">
            <img src="/{{recipe.user.profilePic}}" class="user"></img>
        </div>
        <div class="text-black col-lg-3">
            <span><a href='/user/{{idToString recipe.user._id}}'>{{recipe.user.name}}</a></span>
            <p><i>{{dateFormat recipe.date}}</i></p>
        </div>
    </div>
    <div class="row">
        {{{recipeImg recipe}}}
    </div>
    <div class="row pl-1 pt-3">
        <h3 class="col-lg-4 text-orange" >Ingredients</h3>
        <h3 class="col-lg-8 text-orange">Preparation</h3>
    </div>
    <div class="row pl-1">
        <ul class="col-lg-4 ingredients">
            {{# each recipe.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <ol class="ml-4 col-lg-6 preparation">
            {{# each recipe.preparation}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="row pl-1 mt-3 pt-3 pb-2 border-bottom border-top">
        <div class="col-lg-12 text-right">
            <span id="fb" class="icon social_icon"></span>
            <span id="ig" class="icon social_icon"></span>
            <span id="twitter" class="icon social_icon"></span>
            <span id="gplus" class="icon social_icon"></span>
        </div>
    </div>
    <div class="row my-3">
        <h3 class="col-lg-10 text-orange">Comments</h3>               
    </div>
        <!--<div class="row ml-5">
            <p class="text-black">You must login to post a comment.</p>
        </div> -->
    <div class="row ml-5 mb-3">
        <textarea id="commentBox" class="col-lg-10 form-control mr-3" placeholder="Commenting as {{session.name}}..."></textarea>
        <button id="addComment" class="col-lg-1 btn btn-secondary">Send</button>
    </div>
    <div id="recipeComments">
        {{#each comments}}
            {{> comment}}
        {{/each}}
    </div>
</div>
<script src="/js/comments.js"></script>