<div class="container w-75 current-black py-5 center">
    <div class="row">
         <h1 class="col-lg-12 text-orange">{{recipeFound.name}}</h1>
    </div>
    <div class="row">
        <p class="col-lg-6"><i>Serving: {{recipeFound.servings}}</i></p>
        <p class="col-lg-6 text-right"><span class="user"></span>{{user.name}} | <i>{{recipeFound.date}}</i></p>
    </div>
    <div class="row">
        {{{recipeImg recipeFound}}}
    </div>
    <div class="row pl-1 pt-3">
        <h3 class="col-lg-4 text-orange">Ingredients</h3>
        <h3 class="col-lg-8 text-orange">Preparation</h3>
    </div>
    <div class="row pl-1">
        <ul class="col-lg-4 ingredients">
            {{# each recipeFound.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <ol class="ml-4 col-lg-6 preparation">
            {{# each recipeFound.preparation}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="row pl-1 mt-3 pt-3 pb-2 border-bottom border-top">
        <span class="col-lg-7 source">Source: {{recipeFound.source}}</span>
        <div class="col-lg-5 text-right">
            <span id="fb" class="icon social_icon"></span>
            <span id="ig" class="icon social_icon"></span>
            <span id="twitter" class="icon social_icon"></span>
            <span id="gplus" class="icon social_icon"></span>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class="col-lg-10 text-orange">Comments</h3>                    
    </div>
</div>